/* start variables */
:root{
    /* color patterns */
  --grey-400: hsl(224, 10%, 45%);  
  --white: hsl(0, 0%, 100%);     
  --grey-500: hsl(217, 19%, 35%);    
  --grey-200: hsl(0, 0%, 81%);  

    /* === textual styles=== */
  --font-size-base: 13px;
  --font-weight-normal: 500;
  --font-weight-bold: 600;
  --line-height-base: 1.5;

  /* === card styles === */
  --card-border-radius: 8px;
  --card-padding: 24px;
  --card-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);

  /* === photo styles === */
  --avatar-width: 40px;
  --avatar-border-radius: 50%;

  /* === distances=== */
  --spacing-sm: 16px;
}
/* end variables */
/* Start Global rules */
*{
  box-sizing: border-box;
}
body{
  font-family:"Barlow Semi Condensed", sans-serif;
}
.container{
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
} 
/* Basic breakpoints */
        @media (min-width: 576px) { 
            .container { max-width: 540px; } 
        }
        
        @media (min-width: 768px) { 
            .container { max-width: 720px; } 
        }
        
        @media (min-width: 992px) { 
            .container { max-width: 960px; } 
        }
        
        @media (min-width: 1200px) { 
            .container { max-width: 1140px; } 
        }
/* End Global rules */
 @media (min-width: 992px){
    .section{
      transform: scale(.75);
      transform-origin: top;
      height: 100vh;
    }
    .container{
      max-width: 1200px;
      width: 100%;
      padding: 0 15px;
      margin: 0 auto;
    }
    .container{
      display: grid;
      grid-template-columns: repeat(4 , 1fr);
      grid-template-rows: repeat(2 , 1fr);
      gap: 24px;
      padding-top: 100px;
    }
    .card-Daniel{grid-area: 1 / 1 / 2 / 3 ;}
    .card-Jonathan{grid-area: 1 / 3 / 2 / 4 ;}
    .card-Jeanette{grid-area: 2 / 1 / 3 / 2;}
    .card-Patrick{grid-area: 2 / 2 / 3 / 4;}
    .card-Kira{grid-area: 1 / 4 / 3 / 5;}
 }
/* start card 1 */
.card-Daniel{
    background-color:hsl(263, 55%, 52%) ;
    padding:var(--card-padding) ;
    box-shadow:var(--card-shadow);
    border-radius: var(--card-border-radius);
    font-size: var(--font-size-base);
    margin-top: 50px;
}
.card-header{
    display: flex;
    position: relative;
    padding-bottom: var(--spacing-sm);
}
.card-header img:first-child{
    border-radius:var(--avatar-border-radius);
    border: 2px solid var(--grey-200);
    width: var(--avatar-width);
}
.person-info{
    padding-left: 10px;
}
.person-name{
    font-weight: var(--font-weight-bold);
    color: var(--white);
}
.person-title {
    font-weight: var(--font-weight-normal);
    opacity: 0.7;
    color: var(--white);
}
.card-header .icon{
    position: absolute;
    right: 50px;
    top: -20px;
}
@media (max-width: 768px){
    .card-header .icon{
        display: none;
    }
}
.testimonial-main {
    font-weight: var(--font-weight-bold);
    font-size: calc(var(--font-size-base) + 2px);
    line-height: var(--line-height-base);
    margin-bottom: var(--spacing-sm);
    color: var(--white);
    position: relative;
}
.testimonial-details {
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-base);
    opacity: 0.7;
    color: var(--white);
}
/* end card 1 */
/* start card 2 */
.card-Jonathan{
    background-color: var(--grey-500);
    padding:var(--card-padding) ;
    box-shadow: var(--card-shadow);
    border-radius: var(--card-border-radius);
    font-size: var(--font-size-base);
    margin-top: 50px;
}
/* end card 2 */
/* start card 3 */
.card-Jeanette{
    background-color: var(--white);
    padding:var(--card-padding) ;
    box-shadow: var(--card-shadow);
    border-radius: var(--card-border-radius);
    font-size: var(--font-size-base);
    margin-top: 50px;
}
 @media (min-width: 992px){
    .card-Jeanette{
        margin-top: 0;
        margin-bottom: 50px;
    }
 }
.card-Jeanette .person-name{
    font-weight: var(--font-weight-bold);
    color: var(--grey-500);
}
.card-Jeanette .person-title {
    font-weight: var(--font-weight-normal);
    opacity: 0.7;
    color: var(--grey-400);
}
.card-Jeanette .card-header .icon{
    right: 90px;
    top: -20px;
}
.card-Jeanette .testimonial-main {
    font-weight: var(--font-weight-bold);
    font-size: calc(var(--font-size-base) + 2px);
    line-height: var(--line-height-base);
    margin-bottom: var(--spacing-sm);
    color: var(--grey-500);
}
.card-Jeanette .testimonial-details {
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-base);
    opacity: 0.7;
    color: var(--grey-400);
}
/* end card 3 */
/* start card 4 */
.card-Patrick{
    background-color:hsl(219, 29%, 14%);
    padding:var(--card-padding) ;
    box-shadow: var(--card-shadow);
    border-radius: var(--card-border-radius);
    font-size: var(--font-size-base);
    margin-top: 50px;
}
 @media (min-width: 992px){
    .card-Patrick{
        margin-top: 0;
        margin-bottom: 50px;
    }
}
/* end card 4 */
/* start card 5 */
.card-Kira{
    background-color: var(--white);
    padding:var(--card-padding) ;
    box-shadow: var(--card-shadow);
    border-radius: var(--card-border-radius);
    font-size: var(--font-size-base);
    margin-top: 50px;
    margin-bottom: 50px;
}
.card-Kira .person-name{
    font-weight: var(--font-weight-bold);
    color: var(--grey-500);
}
.card-Kira .person-title {
    font-weight: var(--font-weight-normal);
    opacity: 0.7;
    color: var(--grey-400);
}
.card-Kira .card-header .icon{
    right: 90px;
    top: -20px;
}
.card-Kira .testimonial-main {
    font-weight: var(--font-weight-bold);
    font-size: calc(var(--font-size-base) + 2px);
    line-height: var(--line-height-base);
    margin-bottom: var(--spacing-sm);
    color: var(--grey-500);
}
.card-Kira .testimonial-details {
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-base);
    opacity: 0.7;
    color: var(--grey-400);
}
/* end card 5 */